//@import "normalize";
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/base';
@import "pickadate/default";
@import "pickadate/default_date";

$background: lighten(rgb(238,252,255), 1%);
$white: #fff;
$black: rgb(2,3,4);
$grey: rgb(233,233,233);
$dark-grey: darken(rgb(233,233,233), 40%);
$red: shade(rgb(240,5,90), 5%);
$red-active: rgb(240,0,0);
$green: rgb(96,144,0);

$media-query-min-width: 780px;

/* Defaults */
html,
body {
    background: $background;
    color: $black;
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    color: $red;
    font-family: 'Bevan', Georgia, serif;
    a {
        color: $red;
    }
}

p {
    margin: .8em 0;
}

a {
    color: $red;
    text-decoration: none;
    &:visited {
        text-decoration: none;
    }
    &:active {
        color: $red-active;
    }
    &:hover {
        text-decoration: underline;
    }
}

ul {
    @extend %default-ul;
}

ol {
    @extend %default-ol;
}

ul.simple {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

div, article, aside {
    @include box-sizing(border-box);
}

pre code {
    font-size: .8em;
}

dt {
    font-weight: bold;
}

button, input, select, textarea {
    max-width: 100%;
}

details {
    margin: 0 0 1em 0;
}

.site {
    @include outer-container;
    background: $white;
    margin: 0 auto;
    //max-width: 1024px;
}

.content {
    @include clearfix;
}

footer {
    clear: both;
    width: 100%;
}

small {
    font-size: .5em;
}

input {
    max-width: 75%;
}

/* Margins and padding */
article, aside, {
    padding: 0 2em;
}
header, footer {
    padding: 1em 2em 0;
}

.main-nav {
    list-style: none;
}
.main-nav-item {
    display: inline-block;
    border-right: 1px solid $grey;
    padding-right: .3em;
    &:last-child {
        border: none;
    }
}

.condensed {
   // line-height: 1em;
    //margin: .3em 0;
}

.most-important {
    font-size: 1.15em;
}

.important {
    font-size: 1.1em;
}

.loadingpulse {
  width: 24px;
  height: 24px;
  
  &:before {
    display: block;
    
    width: 16px;
    height: 16px;
    margin: 4px;
    
    background-color: #ccc;
    
    content: "";
    
    animation: loadingpulse 1s ease infinite;
    border-radius: 100%;
  }
}
@keyframes loadingpulse {
  to {
    opacity: 0;
    
    transform: scale( 2, 2 );
  }
}

#moon-container {
    background: black;
    height: 60px;
    overflow: hidden;
    position: relative;
    width: 60px;
}

.orb {
    border-radius: 25px;
    height: 50px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 50px;
}
#moon {
    background: white;
}
#shadow {
    background: black;
}

.main {
    width: 100%;
}
.meta {
    width: 100%;
}

.alert {
    background: $red;
    border-radius: .2em;
    color: $white;
    padding: .3em;
}

#map-canvas {
    height: 200px;
    margin-top: 1em;
    width: 200px;
}

#wind-bearing {
    display: inline-block;
    margin-left: .4em;
}

@media screen and (min-width: $media-query-min-width) {
    .main {
        @include span-columns(8);
    }

    .meta {
        @include span-columns(4);
    }

    .column-container {
        @include clearfix;
    }

    .column {
        @include span-columns(6);

        &.all {
            @include span-columns(12);
        }
        &.plus {
            @include span-columns(7);
        }

        &.wide {
            @include span-columns(8);

            &.extended {
                @include span-columns(9);

                &.more {
                    @include span-columns(10);
                }

                &.reach {
                    @include span-columns(11);
                }
            }
        }

        &.narrow {
            @include span-columns(4);

            &.plus {
                @include span-columns(5);
            }
        }
        
        &.tiny {
            @include span-columns(2);

            &.plus {
                @include span-columns(3);
            }
        }

        &.miniscule {
            @include span-columns(1);
        }
    }
}

.posts li {
    margin-bottom: .5em;
}

#current-temp {
    font-size: 3em;
    margin: 0;
}

#feels-like {
 margin-top: 0;
}

#summary {
    line-height: 1;
    margin-bottom: 0;
}

#chance {
    margin-top: 0;
}

#current-details {
    margin-top: 25px;
}

.downplay {
    color: $dark-grey;
}
