          </div>
          <footer>
            <div class="contact">
              <p>
                Tony Thomas<br>
                Father, Husband, Web Developer, Musician<br>
                truetone at gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/truetone">github.com/truetone</a><br />
                <a href="https://twitter.com/truetone">twitter.com/truetone</a><br />
              </p>
            </div>
          </footer>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="/js/minified/base.min.js"></script>
        <script src="/js/minified/lib.min.js"></script>
        <script src="/js/src/weather.js"></script>
        <script id="current-conditions-template" type="text/x-handlebars-template">
            {% raw %}
            <article>
                <h3>Current Conditions</h3>
                {{#if alerts}}
                    {{#each alerts}}
                    <p class="alert most-important"><a class="alert" href="{{this.uri}}">{{this.title}}</a></p>
                    <details>
                        <summary>More Info</summary>
                        <p>{{this.description}}</p>
                    </details>
                    {{/each}}
                {{/if}}
                <div class="column-container">
                    <div class="column narrow plus">
                        <p id="current-temp">
                            {{toInt currently.temperature}}&deg; F
                        </p>
                        <ul class="simple">
                            <li id="feels-like" class="condensed downplay">Feels like {{toInt currently.apparentTemperature}}&deg; F</li>
                            <li id="chance" class="condensed downplay">Chance of precipitation:
                                {{floatToProbabilityPhrase currently.precipProbability}}<br>
                                <small>({{floatToPercent currently.precipProbability}} Chance)</small>
                            </li>
                        </ul>
                        <p id="summary" class="most-important">{{currently.summary}}</p>
                    </div>
                    <div class="column plus" id="current-details">
                        <ul class="simple">
                            {{#if precipIntensity}}
                                <li>{{currently.precipIntensity}}</li>
                            {{/if}}

                            <li>Wind: {{toInt currently.windSpeed}} mph from the
                                {{getCardinalDirection currently.windBearing}} 
                                <span id="wind-bearing" style="transform:rotate({{currently.windBearing}}deg);-webkit-transform:rotate({{currently.windBearing}}deg);-moz-transform:rotate({{currently.windBearing}}deg);-ms-transform:rotate({{currently.windBearing}}deg)">&darr;</span>
                            </li>
                            <li class="condensed">{{floatToPercent currently.cloudCover}} Cloud Cover</li>

                            <li class="condensed">Humidity: {{floatToPercent currently.humidity}}</li>
                            <li class="condensed">Dew point: {{toInt currently.dewPoint}}&deg; F</li>

                            {{#if currently.nearestStormDistance}}
                            <li class="condensed">Nearest precipitation is
                                {{currently.nearestStormDistance}} miles to the
                                {{getCardinalDirection currently.nearestStormBearing}}.*
                            </li>
                            {{/if}}

                            <li class="condensed">Visibility: {{currently.visibility}} Miles</li>
                            <li class="condensed">Barometric pressure: {{currently.pressure}}</li>
                            <li class="condensed">Ozone: {{currently.ozone}}</li>
                        </ul>
                    </div>
                </div>

                
                {{#if currently.nearestStormDistance}}
                    <p><small class="downplay">*Take this information with a
                    grain of salt.</small></p>
                {{/if}}
            </aside>
            {% endraw %}
        </script>
        {% include ga.html %}
    </body>
</html>
