{% include header.html %}
<article class="home main">
    <p>I am a web developer for <a href="http://sua.umn.edu">Student Unions &amp; Activities</a>
    at the University of Minnesota. We use PHP, Python, 
    HTML5, CSS and JavaScript. We build using web standards.</p>

    <p>I’ve played music in the Twin Cities in several bands over the
    last 20 years.</p>

    <p>I’m married with two daughters. My family is beautiful, smart
    and challenging.</p>
</article>
<aside class="home meta">{{ content }}</aside>
{% include header.html %}
